*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: brown;
}

#grid{
    width: 1000px;
}

.square{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid black;
}