*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: brown;
}

#grid{
    width: 1000px;
    flex-wrap: wrap;
}

.square{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}